.auth-layout {
    background-image: 
        linear-gradient(rgba(31, 25, 20), rgba(255, 0, 0, .15)),
        url('/images/Background Quente.png');
    background-size: cover;
    background-position: center;

    min-height: 100dvh;
    color: white;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.auth-layout > img {
    max-width: 80%;
    max-height: 35vh;
}
